.barra{
    background-color: #da1010d5;

}




.titulo1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 500%;
}
.imgMia{
    height:326px;
    width: 320px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    position:static;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;  
   

}
.texto1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:x-large;
}


.card-img-top2{
    height:405px;
    width: 720px;
    margin-left: 2%;
}
.card-text{
    color: #EEEEEE;
}
.card-title{

    color: #EEEEEE;
}



.text-foot{
    padding: 20px;
    text-decoration: none;
    color: #000000 ;
}
.text-foot-1{
    color: #EEEEEE ;
text-decoration: none;
display: inline;
}
.text-foot-2{
    color: #EEEEEE ;
    text-decoration: none;
    display: inline;
}
.img-insta{
    width: 30px;
    height: 20px;
    display: inline-block;
}

.titulo2{
    color: white;
}

.titulo3{
    color: white;
    text-align: center;
}
.texthobi{
    padding: 1cm;
    color: white;
}

.titudibu{
    padding: 10px;
    color: white;
}

.img{
    height: 620px;
    width: 100px;
}

.imgpiano{
    height: 200px;
    width: 100px ;
    
}

.imglibro{
    height: 120px;
    width: 100px ;
    margin: 20px;

}